*{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.main-block {
    display: flex;
    justify-content: center;;
    background-color: green;
}

.main-block-width {
    width: 75%;
    background-color: yellow;
    border-top: 2px solid black;
}

.header-style {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-block {
    width: 50%;
}

.header-block-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-list {
    display:inline;
    list-style-type: none;
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.header-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.icon-header {
    width: 3%;
    padding-right: 10px;
}

/* NAV BAR */

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-list-style {
    list-style-type: none;
    padding left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.navbar-icon{
    list-style-type: none;
}

.navbar-container {
    margin: 0;
    background-color: blue;
}

/* BODY */

.green-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.green-buttons-items {
    padding-right: 60px;
}