*{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.main-block {
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
}

.main-block-width {
    width: 75%;
    background-color: #EFEFEF;
}

.header-style {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-block {
    width: 50%;
}

.header-block-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-list {
    display:inline;
    list-style-type: none;
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.header-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.icon-header {
    width: 3%;
    padding-right: 10px;
}

/* NAV BAR */

.navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar-list-style {
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.navbar-icon{
    list-style-type: none;
}

.navbar-container {
    margin: 0;
    background-color: white;
}

/* BODY */

.green-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.green-buttons-items {
    padding-right: 30px;
    padding-left: 30px;
}

.article-prop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 75%;

}

.article {
    width: 505px;
    margin-top: 30px;
    background-color: white;
}

.article-title {
    font-size:22px;
}

.article-text {
    font-size: 14px;
}

.article-img-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-text {
    background-color: white;
    margin-top: 60px;
}

.box-text-inside {
    padding: 10px;
}

.box-text-title {
    font-size: 22px;
    font-weight: bold;
}

.box-text-main {
    font-size: 14px;
    color: grey;
}

.but-bot-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.but-bot-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 200px;
    height: 150px;
    border-left: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9; 
}

.but-bot-text {
    font-size: 14px;
    text-align: center;
}

.ad-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.list-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.list-style {
    list-style-type: none;
    text-align: center;
}

.list-title {
    font-size: 20px;
    color: #29a329;
    padding-bottom: 20px;
}

.list-text {
    padding-top: 10px;
}

/* FOOTER */

.footer-img {
    display: flex;
    justify-content: flex-end;
}